* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
.bg{
  background-color:#415A77;
}
.outerContainder{
  height: 100vh;
  width: 100vw;
  background-color: #0D1B2A;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  height: 600px;
  width: 300px;
  background-color: #1B263B;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.shadow{
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}
.upperNavBar{
  height: 100px;
  width: 100%;
  /* padding-left: 15px; */
  /* padding-right: 15px; */
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.turn{
  height: 30px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px;
  color: #E0E1DD;
}
.upperNavBar img{
  height: 30px;
  filter: invert(1);
}
.player{
  height: 100%;
  width: 90px;
  border-radius: 10px;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: column;
}
.reset{
  height: 30px;
  width: 70px;
  margin-right: 10px;
}
.reset img{
  margin-left: 35px;
}
.turn p{
  color: white;
}
.player h1{
  font-size: 60px;
  color: white;
}
.player p{
  font-size: 20px;
  font-weight: bold;
  color: #E0E1DD;
}
.cardContainer{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 45px;
  margin-bottom: 45px;
}
.card{
  height: 90px;
  width: 90px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  background-color:#778DA9;
  border: none;
  border-radius: 10px;
  color: #E0E1DD;
  font-size: 70px;
  font-weight: bolder;
}
.turn2{
  height: 30px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: larger;
  font-weight: bolder;
  border-radius: 10px;
  color: #E0E1DD;
}
.downNavBar{
  /* margin-top: 40px; */
}
.bgGr{
  background-color: #2A9D8F;
}
.bg2{
  background-color: #00B4D8;
}
.bgx{
  background-color: #FB6F92;
}
.opasity0{
  opacity: 0;
}
.win{
  background-color: #ffd60a;
  color: black;
}